:root{--black:#000;--white:#fff;--blue:#12183a;--orange:#fabc13; --transition: all 0.4s ease-in-out;}
/*default Css Start Here*/
body, p, h1, h2, h3, h4, h5, h6, ul, li{margin:0px;padding:0;}
*{text-decoration: none; outline: none; border: 0;}
a:hover{text-decoration: none; outline: none; border: 0; color: inherit;}
/*default Css End Here*/

/*Navbar Codes Start From Here*/
/* .AppHeader{} */
.logo{font-size: 38px; color: var(--blue);}
.AppNavbar a{ font-size: 16px; display: block; color: var(--blue); font-weight: 600; padding: 21px 15px; transition: var(--transition);}
.AppNavbar a.active, .AppNavbar a:hover{background: var(--orange); color: var(--white);}
/*Navbar Codes End From Here*/

/*Slider And From Codes Start From Here*/
.bannerSlider .carousel-item img{border-radius: 5px;}
/*Slider And From Codes End From Here*/

/*Overview Codes Start From Here*/

/*Overview Codes End From Here*/

/*Highlights Codes Start From Here*/

/*Highlights Codes End From Here*/

/*Price List Codes Start From Here*/

/*Price List Codes End From Here*/

/*Amenities Codes Start From Here*/

/*Amenities Codes End From Here*/

/*Floor And Master Plan Codes Start From Here*/

/*Floor And Master Plan Codes End From Here*/

/*Location Codes Start From Here*/

/*Location Codes End From Here*/

/*Gallery Codes Start From Here*/

/*Gallery Codes End From Here*/

@media(max-width: 1600px){

}
@media(max-width: 1480px){
	
}
@media(max-width: 1366px){
	
}
@media(max-width: 1280px){
	
}

@media(max-width: 991px){
	
}

@media(max-width: 768px){
	
}

@media(max-width: 320px){
	
}