/* fonts */
@font-face {font-family: "popins";font-display: swap;src: url("../fonts/popins/Poppins-Regular.ttf");}
@font-face {font-family: "popins_bold";font-display: swap;src: url("../fonts/popins/Poppins-SemiBold.ttf");}
@font-face {font-family: "kdamthmor";font-display: swap;src: url("../fonts/kdamthmor/KdamThmorPro-Regular.ttf");}
img{max-width: 100%;}

:root{--black:#212429;--black_1:#292929; --white:#fff;--gold:#b98e75; --gold_1:#976e57; --gray:#f5f5f5; --sky:#c3d6dc; --transition: all 0.4s ease-in-out; --shadow:0px 4px 63px 0px rgba(15, 28, 51, 0.10); --shadow_1:0 10px 20px rgb(24 19 19 / 19%), 0 6px 6px rgb(0 0 0 / 23%);}
/*default Css Start Here*/
html{scroll-behavior: smooth;}
body, p, h1, h2, h3, h4, h5, h6, ul, li{margin:0px;padding:0;}
*{text-decoration: none; outline: none; border: 0;font-family: "popins"; list-style: none;}
button:focus{outline: 0;}
a:hover{text-decoration: none; outline: none; color: inherit;}
button{cursor: pointer;}
/*default Css End Here*/

.container{max-width: 80%;}

/* custom classes */
.blackonyellow{font-family: 'popins_bold'; letter-spacing: 1px; color: var(--black);}
.fontkdamthmor{font-family: 'kdamthmor'; letter-spacing: 4px;}
.appbtn{background: var(--black); z-index: 1;font-family: 'popins_bold';letter-spacing: 1px;color: var(--white);padding: 15px 10px;display: inline-block;transition: var(--transition);position: relative;}
.appbtn:hover{background: var(--black_1);}
.appbtn::after{content: '';z-index: -1;position: absolute;left: 0;top: 0;bottom: 0;clip-path: polygon(0% 36%, 94% 95%, 100% 100%, 0% 100%);background: var(--gold);height: 100%;width: 13%;}
/* custom classes */

/*Navbar Codes Start From Here*/
/* .AppHeader{} */
.AppHeader{position: fixed; left: 0; right: 0; top: 0; z-index: 99; background: #212429bf; transition: var(--transition);}
.HeaderFixed{background: var(--black);}
.logodiv{z-index: 1; padding: 14px 10px;}
.logo{font-size: 38px; color: var(--white);}
.logodiv::after{content: '';z-index: -1;position: absolute;left: 0;top: 0;bottom: 0;clip-path: polygon(0% 0, 84% 0%, 100% 100%, 0% 100%);background: var(--gold);height: 100%;width: 261px;}
.AppNavbar a{font-size: 17px;color: var(--white); display: block;padding: 27px 19px;transition: all 0.2s ease;font-family: "popins_bold";}
.AppNavbar a.active, .AppNavbar a:hover{color: var(--gold); border-bottom: 4px solid var(--gold);}
.headrConNo{color: var(--white); gap: 0 15px; background: var(--gold); padding: 10px;}
.headrConNo .texthelp{font-size: 18px; color: var(--white);}
.headrConNo .text{font-size: 25px; color: var(--white);}
.headrConNo .callsvg{animation: rotateSvg 2s infinite; width: 35px;}
/*Navbar Codes End From Here*/

/*Slider And From Codes Start From Here*/
#bannerSlider::after{position: absolute; content: ''; height: 100%; width: 100%; left: 0; right: 0; top: 0; bottom: 0; background: #000000b5; z-index: 1;}
.bannerSlider{color: var(--white);}
.bannerSlider .carousel-item img{border-radius: 5px;}
.bannerSlider .carousel-control-prev, .carousel-control-next {display: none;}
.bannerSlider .carousel-indicators li{cursor: pointer;}

/* .bannerContentdiv */
.bannerContentdiv{bottom: 0;z-index: 1;left: 0;width: 40%;clip-path: polygon(0% 50%, 77% 50%, 100% 100%, 0% 100%);background: var(--black);height: 100%;display: grid;align-items: end;}
.bannerContentdiv .projectname, .startingPrice, .bannerHighlights{padding:17px 0 15px 30px;}
.bannerContentdiv .projectname, .startingPrice{background: var(--black);}
.bannerContentdiv .bannerHighlights{background: var(--gold);}
.bannerContentdiv .bannerHighlights ul img{width: 15px;}
.bannerContentdiv .startingPrice p{font-size: 28px; letter-spacing: 1px;}
.bannerContentdiv .pHeading{font-size: 52px;padding-bottom: 8px;}
.bannerContentdiv .priceHeading{font-size: 53px; animation: textColor 1.5s linear infinite;}
.bannerContentdiv .pAddress{font-size: 18px;}
.bannerContentdiv .TypoHeading{font-size: 25px;font-weight: 600;margin-bottom: 16px;}

/* bannerform */
.bannerForm .formHeading{font-size: 20px;margin-bottom: 14px;letter-spacing: 2px;}
.bannerForm{right: 0px;bottom: 0px;z-index: 1;padding: 20px;width: 340px;background: #00000080;animation: bannerformmbg 2s infinite;}
.bannerForm .inputbox{margin-bottom: 10px;}
.bannerForm input, .bannerForm textarea{padding: 10px;padding-left: 38px;background: var(--white) url(../images/icons/user.svg) no-repeat 10px;background-size: 18px;font-size: 15px;}
.bannerForm .name{background-size: 20px;}
.bannerForm .email{background-image: url(../images/icons/email.svg);}
.bannerForm .phoneno{background-image: url(../images/icons/telephone.svg);}
.bannerForm .message{background-image: url(../images/icons/chat.svg); }
.bannerForm .bannerbtn{margin-top: 8px;text-transform: uppercase;background: #fff;color: #000;}


/* checkbox-section */
.checkbox-section{gap: 0 5px;}
.checkbox-section input{position: relative; top: 3px;}
.checkbox-section p {animation: textColor 1.5s linear infinite;}
/* .patchimg */
.patchimg{left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1;}
.patchimg img{width: 400px;}
/*Slider And From Codes End From Here*/

/* .commonbox */
.commonbox .smallHeading{font-size: 15px;width: fit-content;margin-bottom: 15px;font-weight: 600;color: var(--gold);display: block; position: relative;}
.commonbox .smallHeading::after{content: '';position: absolute;left: 105%;width: 73px;height: 2px;top: 50%;transform: translate(0, -50%);background: var(--gold);}
.commonbox .headingmain{font-size: 45px;margin-bottom: 15px;color: var(--black);font-family: 'kdamthmor';letter-spacing: 2px;}
.commonbox .subHeading{font-size: 25px;margin-bottom: 15px;font-weight: 500;}
/* .commonbox.centerdiv{} */
/* end .commonbox */

/*Overview Codes Start From Here*/
.overview-contaier{padding-top: 100px;padding-bottom: 100px; background: url(../images/icons/vertical-grid-line.png);}
.overview-contaier .flexdiv{gap: 0 70px;}
.overview-contaier .flexdiv::after{content: '';position: absolute; width: 50%; background: url(../images/vectorbg.png) no-repeat; right: 0; top: 0; bottom: 0; z-index: -1; opacity: 0.1; background-size: cover;}
.overview-contaier .desc{padding-bottom: 15px; letter-spacing: 0.5px;}
.overview-contaier .overviewbtn{padding: 18px 0; width: 40%; margin-top: 15px;}
.overview-contaier .overviewbtn:hover svg{fill: red;}
.overview-contaier .imgdiv{position: relative;}
.overview-contaier .imgdiv::after{content: '';position: absolute;right: 7%;top: 5%;height: 21%;width: 21%;background: url(../images/icons/vectorimg.png);z-index: -1;}
.overview-contaier .topimg{box-shadow: var(--shadow);}
.overview-contaier .bottomimg{position: absolute;right: 5%;top: 26%;border: 15px solid var(--white);box-shadow: var(--shadow);}
.overview-contaier .yrExpdiv{box-shadow: var(--shadow);margin-top: 30px;height: 141px;width: 184px;background: var(--white);box-shadow: 0px 4px 63px 0px rgba(15, 28, 51, 0.10);flex-direction: column;}
.overview-contaier .yrExpdiv .years{font-size: 45px; color: var(--gold); font-weight: 600;}
.overview-contaier .yrExpdiv .text{font-size: 20px; text-transform: capitalize;}
/*Overview Codes End From Here*/

/*Highlights Codes Start From Here*/
.highlights-container{background: var(--black_1) url(../images/icons/vertical-grid-line.png); padding: 100px 0; z-index: 1; color: var(--white);}
/* .highlights-container::before{content: ''; position: absolute; left: inherit; right: 0; top: 0; bottom: 0; z-index: -1; background: url(../images/vectorbg1.png) no-repeat; background-size: cover; opacity: 0.1; width: 100%; height: 100%;} */
.highlights-container .commonbox{text-align: center; margin-bottom: 120px;}
.highlights-container .commonbox .smallHeading{margin-left: auto; margin-right: auto;}
.highlights-container .headingmain{color: var(--white);}
.highlights-container .flexdiv{display: grid;grid-template-columns: repeat( 4, 350px);gap: 82px 45px;}
.highlights-container .boxes{background: var(--black);padding: 0 25px;height: 180px; position: relative;}
.highlights-container .boxes::after{content: ''; position: absolute; left: 0; bottom: 0; clip-path: polygon(0% 36%, 94% 95%, 100% 100%, 0% 100%); background: var(--gold); height: 60px; width: 46px;}
.highlights-container .boxes .number{font-size: 38px;position: relative;transition: var(--transition);width: fit-content;margin: 0 auto;margin-top: -30px;padding: 0 10px;background: var(--gold);}
.highlights-container .boxes p{height: 78%;font-size: 16px;}
/*Highlights Codes End From Here*/

/*Price List Codes Start From Here*/
.pricelist-container{padding: 100px 0 150px 0; background: var(--white) url(../images/icons/pricelistbg.png);}
.pricelist-container .commonbox .headingmain{margin-top: 15px;}
.pricelist-container .flexbox{text-align: center; margin-top: 90px; gap: 85px;}
.pricelist-container .pricecard{width: 20%; background: var(--white); color: var(--black); transition: var(--transition); padding: 28px 20px; position: relative; transform: scale(1.1); border: 1px solid var(--gray); box-shadow: var(--shadow); } 
/* .pricelist-container .pricecard:nth-child(even){background: var(--gray);} */
.pricelist-container .priceTotal{height: 108px;width: 128px;background: var(--gold);color: var(--white);font-size: 29px;flex-direction: column;margin: 15px auto;padding-top: 15px;position: relative;}
.pricelist-container .priceTotal::after{content: '';position: absolute;left: 0;bottom: 0;height: 36px;width: 27px;background: var(--white);clip-path: polygon(0% 36%, 94% 95%, 100% 100%, 0% 100%);}
.pricelist-container .pricetype{color: var(--white);}
.pricelist-container .title{font-size: 16px; text-transform: uppercase; font-weight: 600; margin-bottom: 15px;}
.pricelist-container .startprice{color: var(--gold);}
.pricelist-container .Type{font-size: 20px; margin-bottom: 8px; color: var(--gold);}
.pricelist-container .intestedbtn{width: 100%; margin-top: 15px; padding: 11px; text-transform: uppercase;}
/*Price List Codes End From Here*/

/*Amenities Codes Start From Here*/

/*Amenities Codes End From Here*/
.amenities-container{padding:0 15px 100px 15px;}
.amenities-container .commonbox .headingmain{margin-top: 15px;}
.amenities-container .leftsection{gap: 0 15px; position: relative; width: 45%;}
.amenities-container .rightsection{width: 54%; background: url(https://gaviaspreview.com/wp/boliin/wp-content/uploads/2023/02/bg-05.jpg); padding:25px 15px;}
.amenities-container .rigtsideimgs{flex-direction: column; gap: 15px 0;}
.amenities-container .leftsection .textheading{font-size: 28px;letter-spacing: 1px;}
.amenities-container .rigtsideimgs img{height: 60%; object-fit: cover;}
.amenities-container .rigtsideimgs .contentbox{background: var(--gold); height: 35%; padding: 45px 25px 15px 55px;}
.amenities-container .rigtsideimgs .contentbox .appbtn{position: absolute; bottom: 17px; right: 0; width: 40%;}
.amenities-container .rigtsideimgs .contentbox .appbtn::after{background: var(--white);}
.amenities-container .roundedbox{position: absolute; z-index: 1;top: 47%;left: 39%;}

/*Floor And Master Plan Codes Start From Here*/

/*Floor And Master Plan Codes End From Here*/

/*Location Codes Start From Here*/

/*Location Codes End From Here*/

/*Gallery Codes Start From Here*/

/*Gallery Codes End From Here*/
/*Gallery Codes End From Here*/

@media(max-width: 1600px){

}
@media(max-width: 1480px){
	
}
@media(max-width: 1366px){
	
}
@media(max-width: 1280px){
	
}

@media(max-width: 991px){
	
}

@media(max-width: 768px){
	
}

@media(max-width: 320px){
	
}


/* Keyframes */
@keyframes bannerformmbg {
    0%{background: #00000080;}
    50%{background: #110f0733;}
    100%{background: #00000080;}
}

@keyframes rotateSvg {
    0%{rotate: 10deg;}
    50%{rotate: -5deg;}
    100%{rotate: 10deg;}    
}

@keyframes textColor {    
    50%{color: var(--gold);}      
}
@keyframes textColor1 {       
    100%{color: var(--white);}      
}