/* fonts */
@font-face {font-family: "popins";font-display: swap;src: url("../fonts/popins/Poppins-Regular.ttf");}
@font-face {font-family: "popins_bold";font-display: swap;src: url("../fonts/popins/Poppins-SemiBold.ttf");}
@font-face {font-family: "kdamthmor";font-display: swap;src: url("../fonts/kdamthmor/KdamThmorPro-Regular.ttf");}

:root{--black:#212429;--white:#fff;--blue:#12183a;--gold:#b98e75; --orange:#fabc13; --darkorange:#ca9709; --gray:#f5f5f5; --gray_1:#7e7f81; --transition: all 0.4s ease-in-out;}
/*default Css Start Here*/
html{scroll-behavior: smooth;}
body, p, h1, h2, h3, h4, h5, h6, ul, li{margin:0px;padding:0;}
*{text-decoration: none; outline: none; border: 0;font-family: "popins"; list-style: none;}
button:focus{outline: 0;}
a:hover{text-decoration: none; outline: none; color: inherit;}
button{cursor: pointer;}
/*default Css End Here*/

.container{max-width: 80%;}

/* custom classes */
.blackonyellow{font-family: 'popins_bold'; letter-spacing: 1px; color: var(--black);}
.fontkdamthmor{font-family: 'kdamthmor'; letter-spacing: 4px;}
.appbtn{ background: var(--orange); border: 2px solid transparent; font-family: 'popins_bold'; letter-spacing: 1px; color: var(--black); padding: 8px 10px; display: inline-block; transition: var(--transition);}
.appbtn:hover{background: transparent; border-color: var(--orange); color: var(--orange);}
/* custom classes */

/*Navbar Codes Start From Here*/
/* .AppHeader{} */
.AppHeader{position: fixed; left: 0; right: 0; top: 0; z-index: 99; background: #212429bf; transition: var(--transition);}
.HeaderFixed{background: var(--black);}
.logodiv{z-index: 1; padding: 14px 10px;}
.logo{font-size: 38px; color: var(--white);}
.logodiv::after{content: ''; z-index: -1; position: absolute; left: 0; top: 0;bottom: 0;clip-path: polygon(0% 0, 70% 0%, 100% 100%, 0% 100%);background: var(--gold);height: 100%;width: 63%;}
.AppNavbar a{font-size: 17px;color: var(--white); display: block;padding: 27px 19px;transition: all 0.2s ease;font-family: "popins_bold";}
.AppNavbar a.active, .AppNavbar a:hover{color: var(--gold); border-bottom: 4px solid var(--gold);}
.headrConNo{color: var(--white); gap: 0 15px; background: var(--gold); padding: 10px;}
.headrConNo .texthelp{font-size: 18px; color: var(--white);}
.headrConNo .text{font-size: 25px; color: var(--white);}
.headrConNo .callsvg{animation: rotateSvg 2s infinite; width: 35px;}
/*Navbar Codes End From Here*/

/*Slider And From Codes Start From Here*/
#bannerSlider::after{position: absolute; content: ''; height: 100%; width: 100%; left: 0; right: 0; top: 0; bottom: 0; background: #00000057; z-index: 1;}
.bannerSlider{color: var(--white);}
.bannerSlider .carousel-item img{border-radius: 5px;}
.bannerSlider .carousel-control-prev, .carousel-control-next {display: none;}
/* .bannerSlider .carousel-control-prev {left: inherit;right: 25px;} */
.bannerSlider .carousel-indicators li{cursor: pointer;}

/* .bannerContentdiv */
.bannerContentdiv{bottom: 0;z-index: 1;left: 0;width: 40%;clip-path: polygon(0% 52%, 76% 52%, 100% 100%, 0% 100%);background: var(--blue);height: 100%;display: grid;align-items: end;}
/* .bannerContentdiv{bottom: 0;z-index: 1;left: 0;width: 50%;clip-path: polygon(0% 39%, 69% 39%, 100% 100%, 0% 100%);background: var(--blue);height: 100%;display: grid;align-items: end;} */
.bannerContentdiv .projectname, .startingPrice, .bannerHighlights{padding:17px 0 15px 30px;}
/* .bannerContentdiv .projectname, .startingPrice, .bannerHighlights{padding:40px 0 35px 30px;} */
.bannerContentdiv .projectname, .startingPrice{background: var(--blue);}
.bannerContentdiv .bannerHighlights{background: var(--orange);}
.bannerContentdiv .bannerHighlights ul img{width: 15px;}
.bannerContentdiv .startingPrice p{font-size: 28px; letter-spacing: 1px;}
.bannerContentdiv .pHeading{font-size: 52px;padding-bottom: 8px;}
.bannerContentdiv .priceHeading{font-size: 53px;}
.bannerContentdiv .pAddress{font-size: 18px;}
.bannerContentdiv .TypoHeading{font-size: 25px;font-weight: 600;margin-bottom: 16px;}

/* bannerform */
.bannerForm .formHeading{font-size: 22px; margin-bottom: 14px; letter-spacing: 2px;}
.bannerForm{right: 0px; bottom: 0px; z-index: 1; padding: 20px; width: 370px; background: #00000080; animation: bannerformmbg 2s infinite;}
.bannerForm .inputbox{margin-bottom: 8px;}
.bannerForm input, .bannerForm textarea{padding: 10px; padding-left: 38px; background: var(--white) url(../images/icons/user.svg) no-repeat 10px; background-size: 20px;}
.bannerForm .name{background-size: 24px;}
.bannerForm .email{background-image: url(../images/icons/email.svg);}
.bannerForm .phoneno{background-image: url(../images/icons/telephone.svg);}
.bannerForm .message{background-image: url(../images/icons/chat.svg); }
.bannerForm .bannerbtn{padding: 10px; margin-top: 8px; text-transform: uppercase;}


/* checkbox-section */
.checkbox-section{gap: 0 5px;}
.checkbox-section input{position: relative; top: 3px;}
/* .patchimg */
.patchimg{left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1;}
.patchimg img{width: 400px;}
/*Slider And From Codes End From Here*/

/* .commonbox */
.commonbox .smallHeading{font-size: 16px; border-bottom: 2px solid var(--orange); width: fit-content; margin-bottom: 10px; font-weight: 600; color: var(--orange);display: block;}
.commonbox .headingmain{font-size: 35px; margin-bottom: 10px; color: var(--gray_1); font-family: 'kdamthmor'; letter-spacing: 2px;}
.commonbox .subHeading{font-size: 25px; margin-bottom: 10px; font-weight: 500;}
/* .commonbox.centerdiv{} */
/* end .commonbox */

/*Overview Codes Start From Here*/
.overview-contaier{padding: 100px 0;}
.overview-contaier .flexdiv{gap: 0 70px;}
.overview-contaier .flexdiv::after, .overview-contaier .flexdiv::before{content: '';position: absolute; width: 50%; background: url(../images/vectorbg.png) no-repeat; left: 0; top: 0; bottom: 0; z-index: -1; opacity: 0.1; background-size: cover;}
.overview-contaier .flexdiv::after{left: inherit; right: 0; background-image: url(../images/vectorbg.png);}
.overview-contaier .desc{padding-bottom: 15px;}
.overview-contaier .overviewbtn{padding: 10px 0;}
/*Overview Codes End From Here*/

/*Highlights Codes Start From Here*/
.highlights-container{background: var(--gray); padding: 100px 0; z-index: 1;}
.highlights-container::before{content: ''; position: absolute; left: inherit; right: 0; top: 0; bottom: 0; z-index: -1; background: url(../images/vectorbg1.png) no-repeat; background-size: cover; opacity: 0.1; width: 100%; height: 100%;}
.highlights-container .avtardiv{width: fit-content;}
/* .highlights-container .avtardiv img{border-radius: 100%;} */
.highlights-container .flexpoint{gap: 45px 156px; position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%,-50%);}
.highlights-container .points_inner{gap: 0 10px; width: 38%; padding: 6px !important;background: var(--white); border: 1px solid var(--gray);}
.highlights-container .num{background-color: var(--blue);color: var(--white);height: 54px;max-width: 50px;width: 100%;text-align: center;line-height: 54px; letter-spacing: 1px;}
.highlights-container .phno{font-size: 33px; color: var(--black); padding: 15px 0;}
.highlights-container .phno img{width: 31px;}
.highlights-container .btnknow{padding: 10px 0; font-size: 18px;}


/*Highlights Codes End From Here*/

/*Price List Codes Start From Here*/

/*Price List Codes End From Here*/

/*Amenities Codes Start From Here*/

/*Amenities Codes End From Here*/

/*Floor And Master Plan Codes Start From Here*/

/*Floor And Master Plan Codes End From Here*/

/*Location Codes Start From Here*/

/*Location Codes End From Here*/

/*Gallery Codes Start From Here*/

/*Gallery Codes End From Here*/

@media(max-width: 1600px){

}
@media(max-width: 1480px){
	
}
@media(max-width: 1366px){
	
}
@media(max-width: 1280px){
	
}

@media(max-width: 991px){
	
}

@media(max-width: 768px){
	
}

@media(max-width: 320px){
	
}


/* Keyframes */
@keyframes bannerformmbg {
    0%{background: #00000080;}
    50%{background: #110f0733;}
    100%{background: #00000080;}
}

@keyframes rotateSvg {
    0%{rotate: 10deg;}
    50%{rotate: -5deg;}
    100%{rotate: 10deg;}    
}